@model IEnumerable<Core.Users.IUser>

@{
    ViewBag.Title = "Owl - All users";    
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
</ul>

<h1>All users</h1>
<ul>
@foreach(var user in Model)
{
    <li>@user.Username</li>   
}
</ul>