@model IEnumerable<Core.Users.IUser>

@{
    ViewBag.Title = "Owl - All users";    
}
<div class="page-header">
    <h1>All users</h1>
 </div>

<ul>
@foreach(var user in Model)
{
    <li>@user.Username</li>   
}
</ul>