@model Web.Models.CreateLibraryViewModel
@{
    ViewBag.Title = "Owl - Create library";
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
</ul>

<h1>Create library</h1>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)

  <input type="submit" value="Create"/>
}