@model Web.Models.CreateLibraryViewModel
@{
    ViewBag.Title = "Owl - Create library";
}
<div class="page-header">
    <h1>Create library</h1>
</div>

@Html.ValidationSummary("", new { @class="alert alert-error" })

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)

  <input class="btn btn-primary" type="submit" value="Create"/>
}