<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Assets/Styles/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if(User.Identity.IsAuthenticated){
        @Html.ActionLink("Logout", "Destroy", "Session")
    }
    @RenderBody()
</body>
</html>
